.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
}

.nav__listitem {
  display: flex;
  flex-direction: row;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 635px;
  height: 191px;
  margin-top: 3rem;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
}

.bluetext {
  color: #4a4ff2;
}

.top-intro {
  margin-bottom: 1rem;
}

.intro-sidetext {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: italic;
}
