.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  width: 1110px;
  height: 1960px;
  margin-top: 3rem;

  /* gallery - make it responsive to smaller displays with different width and height */

  &__item {
    overflow: hidden;
  }

  &__item--1 {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
  }

  &__item--2 {
    grid-column: 4 / 7;
    grid-row: 1 / 7;
  }

  &__item--3 {
    grid-column: 7 / 10;
    grid-row: 1 / 11;
  }

  &__item--4 {
    grid-column: 1 / 4;
    grid-row: 8 / 16;
  }

  &__item--5 {
    grid-column: 4 / 7;
    grid-row: 7 / 14;
  }

  &__item--6 {
    grid-column: 7 / 10;
    grid-row: 11 / 18;
  }

  &__item--7 {
    grid-column: 1 / 4;
    grid-row: 16 /24;
  }

  &__item--8 {
    grid-column: 4 / 7;
    grid-row: 14 /23;
  }

  &__item--9 {
    grid-column: 7 / 10;
    grid-row: 18 /27;
  }

  &__item--10 {
    grid-column: 1 / 4;
    grid-row: 24 / 32;
  }

  &__item--11 {
    grid-column: 4 / 7;
    grid-row: 23 / 32;
  }

  &__item--12 {
    grid-column: 7 / 10;
    grid-row: 27 / 32;
  }
}
