.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 635px;
  height: 191px;
  margin-top: 6rem;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
}

.bluetext {
  color: #4a4ff2;
}

.top-intro {
  margin-bottom: 1rem;
}

.intro-sidetext {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-end;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: italic;
  position: relative;
  right: 8rem;
}

.aboutus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 106px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 2rem;
  line-height: 30px;

  &__intro {
    font-weight: bold;
    font-size: 28px;
    width: 635px;
  }

  &__list {
    line-height: normal;
    display: flex;
    flex-direction: column;
  }
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-bottom: 2rem;
}

.awwwards__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: bold;
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-weight: bold;
}

.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.item5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: bold;
}

.item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.item7 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.bestnavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 3rem;
  position: relative;
  left: 9rem;

  & li {
    margin-top: 2rem;
    max-width: 25ch;
  }
}
