@import "./reset";
@import "./imagegallery";
@import "./headerfooter";
@import "./maincontent";
@import "./projects";

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  font-family: "Mulish";
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
